.footer {
    background-color: rgb(94, 131, 131);
    align-items: center;
    text-align: center;
}

.footer-grufy {
    background-color: rgb(49, 223, 223);
    align-items: center;
    text-align: center;
    margin-top: 2%;
}