/* The dropdown container */

.gimg1 {
    width: 20%;
    background-color: #00000000;
    color: #00000000;
}

.dropdown {
    float: left;
    margin: 0%;
    margin-right: 1vh;
    margin-top: 5%;
}


/* Dropdown button */

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 4px 6px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    width: auto;
    border-radius: 20px;
    border: #000000 solid;
    box-shadow: -1px -1px;
    box-shadow: #e70000;
    color: #dbc9c9;
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: rgba(103, 7, 122, 0.822);
}


/* Dropdown content (hidden by default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #00000000;
    max-width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content p {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    box-shadow: #e70000;
}

.dropdown-content a:hover {
    background-color: rgb(255, 0, 0);
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}

.p {
    background-color: #e70000;
}