.loader_bg {
    position: fixed;
    z-index: 999999;
    background: #ffffff;
    width: 100%;
    height: 100%;
}

.loader {
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}

.loader:before,
.loader:after {
    content: '';
    border: 1em solid #ff5733;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}

.loader:before {
    animation-delay: .5s;
}

@keyframes loader {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

* {
    margin: 0;
    padding: 0;
}

@keyframes example {
    from {
        background-color: #edf5fd;
    }
    to {
        background-color: rgb(224, 62, 62);
    }
    to {
        background-color: red;
    }
    to {
        background-color: yellow;
    }
    to {
        background-color: rgb(255, 209, 5);
    }
    to {
        background-color: red;
    }
    to {
        background-color: aquamarine;
    }
    to {
        background-color: #002E63
    }
}


/*background-color: #056deb;
    animation-duration: 2s;
    animation-name: example;
    animation-iteration-count: 10;*/

.Btn1 {
    position: static;
    background-color: #5ec8e9;
    border: none;
    font-size: auto;
    color: #ffffff;
    padding: auto;
    margin-left: 7%;
    height: 25px;
    width: 100px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.Btn2 {
    position: static;
    background-color: #f14ab1;
    border: none;
    font-size: auto;
    color: #FFFFFF;
    padding: auto;
    margin-left: 2%;
    height: 25px;
    width: 100px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.BTN-TEXT {
    font-size: large;
    position: absolute;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff, 0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
}

.BTN:before {
    position: absolute;
    content: '';
    left: 0;
    height: 3px;
    width: 100%;
    background: rgb(132, 0, 255);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}

.BTN:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

.BTN {
    font-size: large;
    color: rgb(255, 0, 0);
    position: absolute;
    left: 16.5%;
}

body {
    background-color: #002E63;
    height: 100vh;
}

.FULL-PAGE Text {
    width: 200%;
    align-items: center;
}


/*background: rgb(87, 81, 81) url('../Images/download (1).jpg');
}
background-color: #3c495c;

/*nav {
    background: rgb(216, 0, 0);
    height: 80px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}*/


/*.LOGO-TOP-IMAGE {
    background: rgb(87, 81, 81) url('../Images/download (1).jpg');
    background-size: cover;
    background-blend-mode: darken;
    display: flex;
}*/


/* The element to apply the animation to */

.FULL-PAGE img {
    margin-left: 25%;
    margin-right: 25%;
    box-shadow: 10px 10px;
    background-color: aqua;
    background-image: url("../Images/download.jpg");
    box-shadow: brown;
    width: 30%;
    align-items: center;
    color: #002E63;
    border: 7px double rgb(5, 5, 5);
    border-radius: 50%;
    right: 30%;
    border-color: black;
}

.second {
    /*position: relative;
    left: 3%;*/
    align-items: center;
    text-shadow: 3px 2px red;
    color: aliceblue;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    border: 5px black;
    border-radius: 5px;
}

.Logo {
    width: 0%;
}

.BACKGROUND-WEBPAGE {
    background-size: cover;
    background-blend-mode: darken;
}

.BACKGROUND-FULL-PAGE-MAIN {
    color: white;
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Vishal-Logo-Image {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Vishal-Logo-Image img {
    width: 50%;
    display: flex;
    border: rgb(51, 2, 2);
    border-radius: 100%;
    margin: auto;
    display: block;
}

nav {
    height: 80px;
    background-color: #1d6bc4;
}

nav ul {
    float: right;
    margin-right: 25px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}

nav ul li a {
    padding: 5px 0;
    position: relative;
    color: rgb(250, 245, 245);
    font-size: 18px;
    text-transform: uppercase;
}

nav ul li a:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: rgb(0, 0, 0);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}

nav ul li a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

label #btn,
label #cancel {
    color: white;
    font-size: 25px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 1118px) {
    .FULL-PAGE img {
        width: 20%;
        align-items: center;
        color: #002E63;
        border: 5px solid rgb(0, 0, 0);
        border-radius: 50%;
        left: 10%;
    }
    nav img {
        left: 8%
    }
}

@media (max-width: 944px) {
    .FULL-PAGE img {
        margin-top: 5%;
        margin-left: 35%;
        margin-right: 25%;
        box-shadow: 10px 10px;
        background-color: aqua;
        background-image: url("../Images/download.jpg");
        box-shadow: brown;
        width: 30%;
        align-items: center;
        color: #002E63;
        border: 7px double rgb(5, 5, 5);
        border-radius: 50%;
        right: 30%;
        border-color: black;
    }
    nav img {
        left: 8%;
        top: 20px;
        width: 130px;
    }
    nav ul li a {
        font-size: 17px;
    }
}

@media (max-width: 860px) {
    .FULL-PAGE img {
        width: 30%;
        align-items: center;
        color: #002E63;
        border: 5px rgb(0, 0, 0);
        border-radius: 50%;
        left: 10%;
    }
    label #btn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(0, 0, 0);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 17px;
        font-size: 20px;
    }
    #check:checked~ul {
        left: 0;
    }
    #check:checked~label #btn {
        display: none;
    }
    #check:checked~label #cancel {
        display: block;
    }
}